.background {
    display: flex;
    justify-content: space-between;
    padding: 19px 40px;
    background-color: #f0f0f0;
    height: 42px;
    background-color: #f06756;
    border-bottom: 4px solid #000;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
