.custom-button {
    width: 142px;
    height: 31px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #f06756;
}

.custom-button:hover {
    background-color: black;
    color: #f06756;
}

.text {
    font-family: DungGeunMo;
    font-size: 1.4rem;
}
